.ourArticles {
   margin-top: 150px;

   @include tablet {
      margin-top: 100px;
   }
}

.inner {
   display: flex;
   flex-direction: column;
   gap: 40px;

   @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 30px;
      row-gap: 60px;
   }
}

.heading {
   @include desktop {
      flex: 1;
      min-width: 0;
   }
}

.articles {
   display: flex;
   flex-direction: column;
   gap: 40px;

   @include desktop {
      flex: 1 0 100%;
      order: 1;
      position: relative;
      display: block;
      min-width: 0;
   }
}

.popular {
   @include desktop {
      position: absolute;
      left: 0;
      top: 50%;
      width: 48%;
      max-width: 636px;
      min-width: 0;
      transform: translateY(-50%);
      z-index: 2;
   }
}

.content {
   @include desktop {
      margin-left: auto;
      width: 55%;
      max-width: 730px;
      min-width: 0;
   }
}

.seeAll {
   align-self: center;
}
