.article {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 24px;
   min-width: 0;
}

.headingDesktop {
   @include tablet {
      display: none;
   }
}

.headingMobile {
   display: none;

   @include tablet {
      display: block;
   }
}

.meta {
   text-transform: uppercase;
   color: $color-grey-2;
   letter-spacing: 14%;
   width: max-content;
   max-width: 100%;
}

.image {
   width: 100%;
   height: auto;
   object-fit: cover;
   aspect-ratio: 845 / 400;
}

.body {
   display: flex;
   flex-direction: column;
   gap: 16px;
   color: $color-grey-1;
   text-align: justify;

   @include mobile {
      text-align: left;
   }
}
