.arcGlow {
   position: absolute;
   z-index: -1;
   background-image: url("../../../assets/images/arc-glow.svg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
