.articleDetail {
   padding: 50px 0 0;
}

.layout {
   display: grid;
   grid-template-columns: 2fr 1fr;
   align-items: start;
   gap: 48px;
   margin-top: 40px;

   @include tablet {
      grid-template-columns: 1fr;
      gap: 40px;
   }
}
