.social {
   width: 45px;
   height: 45px;
   min-width: 45px;

   &::before {
      transition: opacity 0.2s ease-in-out;
   }

   @include hover {
      &::before {
         opacity: 0;
      }
   }
}

.socials {
   display: inline-flex;
   gap: 20px;
   align-items: center;

   @include mobile {
      gap: 15px;
   }
}
