.hero {
   background-image: url("../../../../assets/images/home/hero/hero-bg-left-bottom-desktop.svg");
   background-size: 1100px auto;
   background-position: 0% 70%;
   background-repeat: no-repeat;
   overflow-x: clip;

   @include tablet {
      background-image: url("../../../../assets/images/home/hero/hero-bg-left-bottom-mobile.svg");
      background-size: 100% auto;
      background-position: 0% 22%;
   }
}

.main {
   display: flex;
   gap: 20px;
   min-width: 13px;
   align-items: center;
   justify-content: space-between;
   position: relative;

   @include tablet {
      flex-direction: column;
      gap: 0;
      align-items: flex-end;
   }
}

.left {
   display: flex;
   flex-direction: column;
   gap: 32px;
   width: 55%;

   @include tablet {
      width: 100%;
      padding-top: 40px;
      padding-right: 16px;
   }
}

.left p {
   color: $color-grey-1;
   white-space: pre-line;

   @include mobile {
      white-space: normal;
   }
}

.left h1 {
   white-space: pre-line;
}

.right {
   height: 626px;

   @include tablet {
      height: 422px;
   }
}

.right img {
   height: 100%;
   width: 100%;
   object-fit: contain;
   object-position: bottom;
   position: relative;
   z-index: 5;
}
