.nav {
   display: flex;
   justify-content: space-between;
   width: 50%;
   gap: 5px;
}

.linkWrapper {
   position: relative;
}

.link {
   background: none;
   border: none;
   cursor: pointer;
   display: flex;
   gap: 3px;
   align-items: center;
}

.arrowIcon {
   transition: transform 0.2s ease-in-out;

   &.open {
      transform: rotate(180deg);
   }
}
