// main color
$color-brand: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
$color-white-fade: linear-gradient(
   90deg,
   rgba(255, 255, 255, 0.6) 0%,
   rgba(255, 255, 255, 0) 100%
);
$color-purple-10: #ca6aeb;
$color-blue: #19b5f1;

// alerts
$color-alert-success: #00c566;
$color-alert-error: #ff4747;
$color-alert-warning: #facc15;

// greyscale
$color-black-100: #18181b;
$color-black-50: #252532;
$color-grey-1: #b0b0b2;
$color-grey-2: #d1d1d1;
$color-white: #ffffff;
