* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: var(--font-chakra-petch), sans-serif;
   background-color: $color-black-100;
   max-width: 1440px;
   margin: 0 auto;
   color: $color-white;
}

a {
   color: $color-white;
   text-decoration: none;
   -webkit-tap-highlight-color: transparent;
   user-select: none;
   -webkit-user-select: none;

   @include hover {
   }
}

button {
   font-family: var(--font-chakra-petch), sans-serif;
}

.border-brand {
   border: 1px solid transparent;
   border-image: $color-brand 1;
}

.border-white-fade {
   border: 1px solid transparent;
   border-image: $color-white-fade 1;
}

.text-linear {
   background: $color-brand;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   -webkit-text-fill-color: transparent;
   width: max-content;
}
