* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-chakra-petch), sans-serif;
}

.border-brand {
    border: 1px solid transparent;
    border-image: $color-brand 1;
}

.border-white-fade {
    border: 1px solid transparent;
    border-image: $color-white-fade 1;
}
